body {
  margin: 1.5rem 5rem 0 5rem;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline;
  padding: 40px;
  font-family: Arial;
font-weight: normal;
font-size: 16px;
text-align: left;
color: #313131;

}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 50px;
}

.section1 {
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-items: center;

}

/* Lettering */
h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #313131;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: #313131;
}

p {
  width: 233px;
  height: 62px;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #707070;
}

aside {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-top: 50px;
  margin-right: 5rem;
  margin-left: 5rem;
  width: 233px;
}

main {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-top: 50px;
  margin-left: 2rem;
}

#main-image {
  background: transparent;
  width: 100%;
}

input {
  width: 233px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(112, 112, 112, 0.36);
}

social li {
  display: inline;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #707070;
}

.articles {
  display: inline-flex;
}

article {
    margin-bottom: 80px;
}

footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;
}

copyright {
    text-align: right;
}

#articleDataHorizontal {
    margin-top:25px

}