/* page structure */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #707070;
}

#wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
  margin-top: 41px;
}

/*/ ul li styling should be always on ul except for margin between elements, that goes to li /*/

.site-navigation {
  list-style-type: none;
  display: flex;
  font-family: Arial;
  font-size: 16px;
  color: #707070;
  gap: 72px;
}

/* There's no need to put height on images */
.image-logo {
  width: 128px;
}

/* main */
.main-site {
  display: flex;
}

.main-site-left {
  border-top: solid 5px #313131;
  border-bottom: solid 5px #313131;
  padding: 35px 0 35px 0;
  margin-right: 15px;
}

.main-site-right {
  border-top: solid 5px #313131;
  border-bottom: solid 5px #313131;
  padding: 35px 0 35px 0;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

/* main-site-left */

.blog-title {
  margin-top: 33px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #313131;
}

.blog-input-form {
  width: 100%;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(112, 112, 112, 0.36);
  /* padding-left: 15px; */
}

.blog-input-form::placeholder {
  padding-left: 15px;
}

.article {
  margin-bottom: 30px;
}

.vertical-article-title {
  margin-bottom: 7px;
  text-align: left;
  color: #313131;
}

.article-link {
    color: #707070;

}

.article-text {
  margin: 0;
}

.article-readmore {
  margin:0
}

/* main site right */

.wrapper-right {
  position: relative;
}

.main-image {
  width: 100%; 
  height: 335px; 
  object-fit: cover;
}

.box-with-text {
  position: absolute;
  width: 215px;
  height: 99%;
  background: rgba(0, 0, 0, 0.28);
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h3-box {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;

  color: #fff;
  margin: 0 19px;
}

.horizontal-articles {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.horizontal-article-title {
  text-align: left;
  color: #313131;
  margin-top: 0;
}

/* footer */
.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #707070;
}

.social-item {
  margin-right: 20px;
  margin-left: 20px;
}

.ul-social {
  padding: 0;
  display: flex;
}

.ul-social, .copyright a{
  color: #707070;
}
